<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("button").click(function(){
    $("p").hide();
  });
});
</script>


<h2>This is a heading</h2>

<p>This is a paragraph.</p>
<p>This is another paragraph.</p>

<button>Click me to hide paragraphs</button>


<h1>Welcome To Finance Tracker APP</h1>
   <%= link_to 'Go To Portfolio', my_portfolio_path, class: 'btn btn-success' %>
<br>
<br>
<%= link_to 'Sign Out', destroy_user_session_path, class: 'btn btn-success', method: :delete %>
